<nav class="use navbar navbar-expand-lg navbar-dark rounded">
    <div id="mySidenav" class="sidenav">
        <span style="font-size:22px;cursor:pointer;color:#fff;margin:15px 15px 15px 15px;padding-top:15px;" (click)="closeNav()">&#9776;</span>
        <span href="#" routerLink="/" class="logo-brand logocolor">
          Biz2Credit Task    
       </span>
        <br>
        <div class="menu_section">
            <br>
            <a href="#" routerLink="/users"><i class="fa fa-user"></i> User</a>
            <a href="#" routerLink="/file-upload"><i class="fa fa-file"></i> File Upload</a>
        </div>
    </div>
    <span style="font-size:30px;cursor:pointer;color:#fff;" (click)="openNav()">&#9776;</span>

    <a href="#" routerLink="/" class="logo-brand nav-link">
      Biz2Credit Task  
    </a>

</nav>
<br><br><br><br>
